$heroBorderWidth: 20px;
$heroDecorationWidth: 145px;
$decorationHeight: 100%;

.hero_wrapper {
  max-width: 1105px;
  width: 100%;
  height: 100%;

  @include media($small) {
    display: flex;
    justify-content: center;
  }

  @include media($medium) {
    margin-left: 160px;
    height: 530px;
    margin-top: 55px;
  }

  .decoration {
    display: none;

    @include media($medium) {
      width: $heroDecorationWidth;
      height: 530px;
      display: block;
      margin-top: 0;
      margin-left: 10px;
      background-repeat-x: no-repeat;
      background-repeat-y: repeat;
      background-image: url('../../../../../public/images/hero--img-decoration.png');
    }

    @include media($smallest) {
      display: block;
      height: $decorationHeight;
    }
  }

  .decoration_m {
    width: 100%;
    height: 132px;
    margin-top: 7px;
    background-image: url('../../../../../public/images/hero--img-vr-decoration.png');
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;

    @include media($medium) {
      display: none;
    }
  }

  .hero {
    max-width: 696px;
    width: 100%;
    height: 100%;

    @include media($medium) {
      margin-left: auto;
      position: relative;
      background-color: var(--color-anteneo-blue);
    }

    &_content {
      height: 100%;
      padding-bottom: 0;

      .hero_image_wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        @include media($medium) {
          flex-direction: row;
        }

        &>.hero_image {
          height: 400px;

          &>div {
            height: 100%;
            position: relative;

            @include media($medium) {
              position: absolute;
              width: 515px;
              height: 550px;
              top: -60px;
              left: -39%;
            }

            &>img {
              object-fit: cover;
            }
          }
        }

        &>.hero_image>div::after {
          content: "";
          width: calc($heroBorderWidth / 2);
          height: 100%;
          position: absolute;
          top: 0;
          left: calc(100% - 10px);
          background: linear-gradient(180deg, var(--color-miami-marmalade) 0%, var(--color-amurense) 100%);
        }
      }

      .hero_card_item {
        position: relative;
        width: 100%;
        height: 300px;
        right: 0;
        margin-top: 306px;
        margin-bottom: 200px;
        margin-left: auto;
        color: var(--color-dark-denim);

        @include media($medium) {
          margin-top: 39px;
          max-width: 416px;
          width: 100%;
        }

        &::before {
          content: "";
          width: calc($heroBorderWidth / 2);
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: var(--csh-blue-green-gradient, linear-gradient(180deg, var(--color-cyan-sky) 0%, var(--color-day-flower) 100%));
          z-index: 1;
        }

        &_text {
          max-width: 324px;
          width: 100%;
          min-height: 189px;
          position: absolute;
          top: 55%;
          left: 48%;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 20px;
          background-color: #fff;
          transform: translate(-50%, 50%);
          z-index: 1;

          @include media($medium) {
            max-width: 378px;
            left: 0;
            padding-bottom: 0;
            transform: translate(calc(0% + 20px), 50%);
          }

          &>h1 {
            margin-top: 30px;
            font-size: 24px;
            font-weight: 300;
            line-height: 110%;
          }
        }
      }
    }

    &_textbox {
      max-width: 315px;
      width: 100%;
      position: absolute;
      left: 50%;
      top: 91px;
      padding-left: 18px;
      padding-right: 18px;
      padding-top: 28px;
      padding-bottom: 50px;
      transform: translate(-50%, 50%);
      background-color: #fff;
      color: var(--color-dark-denim);
      z-index: 1;

      @include media($small) {
        min-width: 445px;
        padding-top: 24px;
      }

      @include media($medium) {
        width: 445px;
        min-height: 438px;
        left: 0;
        top: -9px;
        transform: translate(-93%, 0);
        padding-left: 27px;
        padding-right: 27px;
      }

      &>span {
        width: 80%;
        display: block;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        color: var(--color-miami-marmalade);

        @include media($medium) {
          width: 100%;
          font-size: 14px;
          padding-left: 5px;
        }
      }

      &>h1 {
        margin-top: 18px;
        margin-bottom: 27px;
        font-size: 36px;
        line-height: 105%;
        font-weight: 300;

        @include media($medium) {
          margin-top: 24px;
          margin-bottom: 24px;
          font-size: 48px;
          line-height: 95%;
        }
      }

      &>div {
        max-width: 280px;
        width: 100%;
        border-left: 2px solid var(--color-miami-marmalade);

        &>p {
          margin-top: 0;
          margin-right: 0;
          font-size: 18px;
          line-height: 135%;
          font-weight: 400;
          border-left: 0;

          @include media($medium) {
            font-size: 16px;
            line-height: 120%;
            padding-bottom: 2px;
          }
        }
      }

      &>.hero_info {
        margin-left: auto;
        padding-left: 20px;

        &>p {
          color: var(--color-day-flower);
        }

        &>div+div {
          margin-top: 22px;
        }

        &>.reading_time {
          font-size: 14px;
          font-weight: 400;
          line-height: 125%;

          &>span+span {
            margin-left: 38px;
            position: relative;

            &::before {
              content: url("../../../../../public/images/icons/icons-reading-time.svg");
              position: absolute;
              left: -20px;
              width: 30px;
              height: 30px;
            }
          }

          @include media($medium) {
            margin-top: 28px;
          }
        }
      }

      .button_wrapper {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include media($medium) {
          top: 100%;
          left: 31%;
          transform: translate(0%, -50%);
        }
      }
    }
  }
}
