.text_only_theme {
  max-width: 320px;
  width: 100%;

  &_img {
    width: 50px;
    height: 50px;
    position: relative;
    left: 30px;

    &>img {
      height: 100%;
      width: 100%;
    }

    @include media($medium) {
      width: 70px;
      height: 70px;
      left: 50px;
    }
  }

  &>h1 {
    margin-top: 20px;
    margin-bottom: 21px;
    font-size: 20px;
    font-weight: 500;
    line-height: 115%;
    color: var(--color-white);

    @include media($medium) {
      margin-top: 40px;
      margin-bottom: 25px;
      margin-left: 3px;
      font-size: 24px;
      line-height: 115%;
    }
  }

  &>p {
    margin: 0;
    font-weight: 300;
    line-height: 145%;
    color: var(--color-white);

    @include media($medium) {
      font-size: 20px;
      font-weight: 300;
      line-height: 110%;
    }
  }

  &>a {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-miami-marmalade);

    &::after {
      content: url(/_next/static/media/icons-arrow-right.ee027594.svg);
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      transform: translate(50%, -55%);
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%);
    }
  }

  &:last-child:nth-child(odd) {
    width: 100%;
    grid-column: 1/ -1;
  }

  &:not(&:last-child) {
    margin-bottom: 10px;

    @include media($medium) {
      margin-bottom: 0;
    }
  }
}
