$color: (
  --color-black: #000,
  --color-blue: #253746,
  --color-charcoal: #212121,
  --color-gold: #fdc054,
  --color-gray-lightest: #f7f7f7,
  --color-orange: #ff8200,
  --color-off-white: #f0f0f0,
  --color-white: #fff,
  --color-light-blue: #a7d0d0,
  --color-subnautical: #002050,
  --color-anteneo-blue: #023A6C,
  --color-miami-marmalade: #F89A1C,
  --color-amurense: #F6BE3E,
  --color-dark-denim: #045388,
  --color-blue-damselfly: #299ddb,
  --color-day-flower: #38a4dd,
  --color-blue-splash: #3083ba,
  --color-ice-castle: #d4effd,
  --color-cyan-sky: #00B6B6,
  --color-blue-angora: #A7D0D0,
);
